* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 975px;
    background-color: #FFFFFF;
    background-image: radial-gradient(circle 675px at center, #080805 0%, #080805 100%); 
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 90px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.logo {
    font-weight: 800;
    font-size: 28px;
    line-height: 1;
    color: #FFFFFF;
}

.logo span {
    color: #FFFFFF;
}

.nav__item {
    margin-right: 50px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    transition: .3s;
}

.nav li a:hover {
    color: #080805;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-desc {
    width: 500px;
    padding-top: 90px;
}

.header__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    margin: 0 0 35px;
}

.header__text {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 35px;
}

.header__btn {
    display: inline-block;
    height: 65px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: #fadb60;
    background-image: linear-gradient(to right, #080805	 0%, #080805 51%, #080805	 100%);
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    line-height: 65px;
    letter-spacing: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    background-size: 200% auto;
}

.header__btn:hover {
    background-position: right center;
}

.header__photo {
    display: block;
    width: 550px;
    height: 500px;
    position: relative;
    left: 600px;
    bottom: 350px;
}

img {
    width: 550px;
}

.products {
    min-height: 652px;
    background-color: #FFFFFF;
}

.products .products_header, .price .price_header, .reviews .reviews_header {
    font-family: 'Open Sans', sans-serif;
    padding-top: 115px;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.products .products_subheader, .price .price_subheader, .reviews .reviews_subheader {
    font-family: 'Open Sans', sans-serif;
    margin-top: 17px;
    color: #4a4a4a;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.products_wrapper, .price .price_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.products .products_wrapper .products_item h3 {
    font-size: 27px;
    background: linear-gradient(
            135deg, #12BCB0 20%, #FABE0E 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-border-radius: 60px;
    display: flex;
    justify-content: space-around;
    padding: 5px 6px;
    border: 3px solid transparent;
    border-image: linear-gradient(135deg, #080805	 20%, #FABE0E 70%);
    border-image-slice: 1;
}

.products .products_wrapper .products_item {
    width: 140px;
    text-align: center;
}

.products .products_wrapper .products_item .products_img {
    width: 100%;
}

.products .products_wrapper .products_item .products_desc {
    font-family: 'Open Sans', sans-serif;
    margin-top: 33px;
    margin-bottom: 115px;
    color: #777777;
    font-size: 16px;
    line-height: 24px;
}

.price {
    min-height: 652px;
    background-color: #ccdef0;
    background-image: radial-gradient(circle 675px at center, #080805 0%, #080805 100%);
}

.price .price_wrapper {
    justify-content: space-around;
}

.price .price_item .price_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #5abb33;
    font-weight: bold;
    margin-bottom: 30px;
}

.price .price_item img {
    margin-left: 45px;
    width: 140px;
}

.price .price_btn {
    display: flex;
    justify-content: center;
    /* height: 65px;*/
    margin-top: 20px;
    border-radius: 60px;
    background-color: #fadb60;
    background-image: linear-gradient(to right, #353935 0%, #353935 51%, #DE8D27 100%);
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    line-height: 50px;
    letter-spacing: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    background-size: 200% auto;
}

.price_btn {
    width: 210px;
    margin-left: 10px;
}

.price_btn:hover {
    background-position: right center;
}

.reviews {
    height: 652px;
}

.reviews .reviews_photo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.reviews .reviews_photo img {
    width: 650px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 30px;
    min-height: 300px;
    background-color: #ccdef0;
    background-image: radial-gradient(circle 675px at center, #080805 0%, #ccdef0 100%);
}

.footer .footer_descr {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 19px;
    font-weight: 500;
}

.footer .footer_descr img {
    margin-top: 10px;
    width: 48px;
}

.footer .footer_map {
    display: flex;
    justify-content: center;
}

.footer .footer_end {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.footer_link {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #080805;
}